body {
  background: #edeff2;
  color: #fff;
}

.row {
  margin-bottom: 20px;
}

header {
  background: #232532;
  margin-top: 20px;
  padding: 20px;
}

p {
  color: #232532;
}

.btn-space {
  margin-right: 10px;
}

.card-title {
  color: #232532;
}
